* {
    font-family: 'Roboto', sans-serif;
}

nav {
    text-align: center;
    padding-top: 15px;
}

section {
    text-align: center;
    background-color: rgb(204, 199, 199);
}

section div input {
    width: 400px;
    border-radius: 1px;
}

section div {
    margin-top: 10px;
}

section div button {
    margin-bottom: 10px;
}

section div p {
    padding-top: 10px;
}

.article-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex-basis: calc(31.75% - 20px);
    margin: 10px;
    padding: 10px;
}

button {
    margin: 5px;
    padding: 2px;
}

.clear {
    clear: none; /*both */
}

.bg-cyan1 {
    background-color: cyan;
}

.bg-cyan2 {
    background-color: rgb(56, 195, 195);
}

.bg-cyan3 {
    background-color: rgb(18, 159, 159);
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-size: medium;
}